@media (max-width: 1228px) {
	.site-main-menu li {
		padding: 6px 15px;
	}
}
@media (max-width: 1135px) {
	.site-main-menu li a {
		font-size: 12px;
	}

	.site-main-menu li {
		padding: 5px 12px;
	}

	ul.social-links li a {
		height: 30px;
		width: 30px;
		line-height: 30px;
	}
}
@media (max-width: 1022px) {
	ul.social-links {
		display: none;
	}
}
@media (max-width: 991px) {
	.rashid-meaning {
		margin-top: 30px;
	}
	.header {
		height: 140px;
	}

	.copyright-text {
		display: none;
	}

	.menu-toggle {
		position: relative;
		z-index: 99;
		transform: translateY(-70px);
	}

	.menu-toggle i {
		color: #fff;
		font-size: 35px;
	}

	a.site-logo {
		display: inline-block;
		margin-top: 20px;
	}

	.site-nav {
		max-height: calc(100% - 140px);
		top: 140px;
	}

	.site-main-menu li a {
		font-size: 14px;
	}

	.pt-page {
		top: 100px;
	}
	.upcomming-wrap {
		padding-top: 30px;
	}

	.upcomming-wrap.two {
		padding-top: 80px;
	}
	a.site-logo {
    width: 75px;
}
}
@media (max-width: 767px) {
	.single-hotel-box .content {
		min-height: auto;
	}

	.single-hotel-box .thumb img {
		width: 100%;
	}

	.service-area .service-block {
		min-height: auto;
	}

	.singel-upcomming-post .thumb {
		flex-basis: 50%;
	}
	.singel-upcomming-post a.site-btn {
		margin-top: 0px;
	}
}

@media (max-width: 460px) {

	.singel-upcomming-post {
		flex-direction: column;
	}

	.singel-upcomming-post .thumb {
		flex-basis: 100%;
	}

	.singel-upcomming-post .thumb img {
		width: 100%;
		border-radius: 10px 10px 0px 0px;
		height: auto;
	}

	.singel-upcomming-post .content {
		border: 1px solid #ccc;
		border-radius: 0px 0px 10px 10px;
		padding-bottom: 20px;
	}
}
